<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>exmp.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.tap.servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>drive</display-name>
    <servlet-name>drive</servlet-name>
    <servlet-class>com.tap.servlets.drive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drive</servlet-name>
    <url-pattern>/drive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eligible</display-name>
    <servlet-name>eligible</servlet-name>
    <servlet-class>com.tap.servlets.eligible</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eligible</servlet-name>
    <url-pattern>/eligible</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profiledetails</display-name>
    <servlet-name>profiledetails</servlet-name>
    <servlet-class>com.tap.servlets.profiledetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profiledetails</servlet-name>
    <url-pattern>/profiledetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createnew</display-name>
    <servlet-name>createnew</servlet-name>
    <servlet-class>com.tap.servlets.createnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createnew</servlet-name>
    <url-pattern>/createnew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.tap.servlets.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editpage</display-name>
    <servlet-name>editpage</servlet-name>
    <servlet-class>com.tap.servlets.editpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editpage</servlet-name>
    <url-pattern>/editpage</url-pattern>
  </servlet-mapping>
</web-app>